<div class="row">
  <div class="box">
  		<p>Please feel free to contact me through any of these profiles, or view my
  			<a href="https://www.dropbox.com/s/us06anepg585o7v/KarlReid-CVPublic.pdf?dl=0" target="_blank">CV on Dropbox.</a><i class="fa fa-dropbox" aria-hidden="true"></i>
  		</p>
  	<div class="row">
        <div class="col-md-6">
			<p><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbspMy <a href="https://ie.linkedin.com/in/karl-reid-31997830" target="_blank">LinkedIn profile.</a></p>
			<p><i class="fa fa-github-square" aria-hidden="true"></i>&nbspMy <a href="https://github.com/karlr42" target="_blank">GitHub profile.</a></p>	
		</div>
		<div class="col-md-6">
			<p><i class="fa fa-stack-overflow" aria-hidden="true"></i>&nbspMy <a href="http://stackoverflow.com/users/story/7852370" target="_blank">Stack Overflow profile.</a></p>
		</div>
	</div>
</div>
