<div class="row">
  <div class="box">
    <div>
      <h4>Welcome</h4>
      <p>
        This is the personal site of Karl Reid, a software developer based in Dublin, Ireland.
      </p>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
          <p>Currently I work at General Audit Tool, a powerful auditing platform for cloud services.</p>
          <p>I work mainly on our GAT Shield product, an auditing solution for G Suite administrators
             to monitor and enforce policies for a deployment of Chrome devices.</p>
          <p>As a full stack developer, I work on developing and maintaining features across all levels of 
              the product, from the client browser extension, to the server backend and the administrator dashboard.</p>
        </div> 
        <div class="col-md-6">
          <img class="img-responsive" src="images/shield.png"/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
          <img class="img-responsive" src="images/cipherapps.png"/>
        </div>
        <div class="col-md-6">
          <p>In the past I worked on CipherApps, a startup that developed a security solution for cloud services.</p>
          <p>The company was spun out from the School of Computer Science and Statistics at Trinity College Dublin. I was 
            a co founder and the lead developer.</p>
          <p>CipherApps raised funding from Enterprise Ireland and was accepted into the Wayra accelerator.</p>
        </div> 
    </div>
  </div>
</div>
